@charset "ISO-8859-1";

* {
	font-family: 'Open Sans', sans-serif;
}

.select_div {
	height: 40px;
	margin: 2% 2% 0% auto;
	text-align: center;
}

.select_div button {
	padding: 3% 1%;
	background-color: #4285F4;
	color: white;
	border: 0px;
}

.select_div .accounts {
	width: 30%;
	padding: 11px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .5px;
	border-radius: 10px;
	line-height: 1.2;
}

.accounts:focus {
	outline: none;
}

#result_button, #restart {
	width: 10%;
}

.daliy_details, .average_details, #static_min span {
	position: relative;
	bottom: 30px;
	left: 80px;
	visibility: hidden;
}

.min:hover .daliy_details, .min:hover .average_details, .min:hover #static_min span,
	.cover:hover .red_tool {
	visibility: visible;
}

.red_tool {
	position: relative;
	bottom: 50px;
	left: 320px;
	visibility: hidden;
	font-size: large;
}

.calculation {
	width: 70%;
	margin: 5% auto;
	color: rgba(0, 0, 0, 0.74);
	font-style: initial;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 1.5;
}

p, ol {
	margin-bottom: 1.65em;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: 1px;
}

table {
	border-collapse: collapse;
	width: 60%;
	margin: 5% auto;
	letter-spacing: .4px;
}

td, th {
	border: 1px solid #dddddd;
	text-align: center;
	padding: 15px;
}

tr:nth-child(even) {
	background-color: #f1f1f1;
}

tr td:first-child {
	text-align: center;
	width: 150px;
}

button {
	cursor: pointer;
}

caption {
	margin: 20px auto;
}