@charset "ISO-8859-1";

* {
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1%;
	margin: 3% auto;
	width: 86%;
	/* border: 1px solid black; */
}

.title a {
	font-size: 25px;
	font-weight: 600;
	color: #2241ed;
	letter-spacing: 1px;
}

.full_link {
	/* border: 1px solid black; */
	/* padding: 1% 4%; */
	margin: 1%;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.full_link a {
	/* margin: 1%; */
	font-size: 19px;
	color: #1a237e;
}

.full_link a:hover {
	color: #2a48ee;
}

.register a {
	background-color: #566ef3;
	color: white;
	padding: 13px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .5px;
	font-family: 'Open Sans', sans-serif;
}

.register a:hover {
	background-color: #2945d0;
	color: white;
}

.intro {
	/* border: 1px solid black; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 2.5% 0%;
}

.intro .content {
	width: 31%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* align-items: center; */
	padding: 1%;
	/* border: 1px solid black; */
}

.intro .content h1 {
	font-size: 50px;
	font-weight: 700;
	color: #1a237e;
	/* border: 1px solid black; */
}

.intro .content p {
	color: #1a237e;
	font-size: 20px;
	text-align: justify;
}

.intro .content a {
	background-color: #4d64e4;
	color: white;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: .5px;
	font-family: 'Open Sans', sans-serif;
	width: 40%;
	text-align: center;
	margin: 20px 0px;
}

.intro img {
	width: 45%;
	height: 65%;
}

.about {
	background-color: #f5f6ff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* align-items: center; */
}

.about h4 {
	font-size: 45px;
	/* line-height: 60px; */
	color: #1a237e;
	/* padding: 30px; */
	text-align: center;
}

.about .feature {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 7%;
}

.about .feature .feature_details {
	border: 1.2px solid green;
	width: 25%;
	padding: 2%;
	color: #1a237e;
	background-color: white;
	background-image: url("https://iili.io/JHBJ52n.png");
	background-repeat: no-repeat;
	background-position: -10px 290px;
	border-radius: 15px;
	word-spacing: 10px;
}

.about .feature .feature_details:hover {
	transition: 3s all;
}

.about .feature .feature_details p {
	padding: 10%;
	color: #1a237e;
	font-size: 20px;
	padding: 40px 0px;
	letter-spacing: 1px;
}

.about .feature .feature_details img {
	width: 30%;
	height: 20%;
}

.img_align {
	z-index: .1;
}

.start_build {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.start_build img {
	width: 50%;
}

.start_build .open_account {
	width: 50%;
	color: #1a237e;
	padding: 7%;
}

.start_build .open_account .heading {
	font-size: 40px;
	line-height: 65px;
	font-weight: 500;
	display: block;
	text-align: justify;
}

.start_build .open_account .box_content {
	display: flex;
}

.start_build .open_account .box_content .content_text {
	padding: 5%;
}

.start_build .open_account .box_content span {
	border-radius: 100%;
	padding: 15px;
	background-color: #e7f9f6;
	font-size: 15px;
	position: relative;
	right: 5%;
	margin: 5% 0%;
}

.content_text p {
	padding: 5% 1%;
	font-size: 20px;
	margin-left: 40px;
	text-align: justify;
}

.only_back {
	background-color: #f5f6ff;
}

.only_back img {
	width: 40%;
}

footer .back_foot {
	background-color: #7086ff;
	width: 78%;
	margin: 7% auto;
	color: black;
	padding: 4%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 15px;
}

footer .back_foot .icon_social, footer .direct {
	width: 40%;
	display: flex;
	justify-content: space-around;
	margin: 0px auto;
	/* border: 1px solid black; */
}

footer .back_foot .icon_social img {
	width: 50px;
}

footer h3 {
	margin: 4%;
}

footer .direct a {
	background-color: white;
	color: black;
	padding: 15px 14%;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .5px;
	font-family: 'Open Sans', sans-serif;
}