@charset "ISO-8859-1";

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 100vh;
	align-items: center;
	background-color: #f5f6ff;
	color: #1a237e;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

.welcome {
	width: 22%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	background-color: white;
	padding: 30px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 20px;
}

.welcome img {
	width: 100%;
	margin: 0px auto;
}

.welcome button {
	background-color: #1a237e;
	color: white;
	font-size: 99%;
	font-weight: bolder;
	width: 80%;
	border-radius: 20px;
	border: 0px;
	padding: 4%;
	margin: 50px auto;
}

.log_in {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60%;
	background-color: white;
	border-radius: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.log_in img {
	width: 200px;
}

.right_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.right_container img {
	height: 100%;
	width: 40%;
}

.start {
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

form {
	display: flex;
	flex-direction: column;
	padding: 30px;
	width: 35%;
	/* border: 2px solid black; */
}

label {
	font-size: 20px;
}

input {
	border-radius: 7px;
	border: 0px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	margin: 30px;
	padding: 10px;
	width: 80%;
}

input:focus {
	outline: none;
}

.btm_btn {
	display: flex;
	justify-content: center;
}

.bottom_button {
	background-color: #1a237e;
	color: white;
	padding: 10px;
	width: 50%;
	border: none;
	font-size: 15px;
	border-radius: 20px;
	font-weight: bolder;
	margin: 30px auto;
}

.bottom_button:hover, .welcome button:hover {
	background-color: #425eb1;
	color: white;
	font-weight: bolder;
}